# ONE HOT ENCODER

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
data = {
 'color' : ['red','blue','green','red','green','green','blue','green','red']
}

In [5]:
df = pd.DataFrame(data)

In [6]:
df.head()

   color
0    red
1   blue
2  green
3    red
4  green

In [7]:
encoder = OneHotEncoder()

In [18]:
encoded = encoder.fit_transform(df[['color']])

In [19]:
encoded_array = encoded.toarray()
columns = encoder.get_feature_names_out()

In [20]:
pd.DataFrame(encoded_array, columns=columns)

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0
5         0.0          1.0        0.0
6         1.0          0.0        0.0
7         0.0          1.0        0.0
8         0.0          0.0        1.0