In [9]:
import pandas as pd 
import numpy as np

In [10]:
data ={
    'house' :['uk','usa','uk','usa','uk','usa'],
    'price' :['700','800','900','1000','450','800']
    
}
df = pd.DataFrame(data)

In [11]:
df.head()

  house price
0    uk   700
1   usa   800
2    uk   900
3   usa  1000
4    uk   450

In [15]:
mean_price = df.groupby('house')['price'].mean().to_dict()

In [16]:
df['house'].map(mean_price)

0    2.336335e+08
1    2.667000e+09
2    2.336335e+08
3    2.667000e+09
4    2.336335e+08
5    2.667000e+09
Name: house, dtype: float64