In [15]:
import pandas as pd

# Assuming you have a CSV file named 'data.csv'
df = pd.read_csv('Data.csv')
#HEAD
print(df.head())
#HEAD
print(df.tail())
#HEAD
print(df.describe())
#HEAD
print(df.info())

   0.0200  0.0371  0.0428  0.0207  0.0954  0.0986  0.1539  0.1601  0.3109  \
0  0.0453  0.0523  0.0843  0.0689  0.1183  0.2583  0.2156  0.3481  0.3337
1  0.0262  0.0582  0.1099  0.1083  0.0974  0.2280  0.2431  0.3771  0.5598
2  0.0100  0.0171  0.0623  0.0205  0.0205  0.0368  0.1098  0.1276  0.0598
3  0.0762  0.0666  0.0481  0.0394  0.0590  0.0649  0.1209  0.2467  0.3564
4  0.0286  0.0453  0.0277  0.0174  0.0384  0.0990  0.1201  0.1833  0.2105

   0.2111  ...  0.0027  0.0065  0.0159  0.0072  0.0167  0.0180  0.0084  \
0  0.2872  ...  0.0084  0.0089  0.0048  0.0094  0.0191  0.0140  0.0049
1  0.6194  ...  0.0232  0.0166  0.0095  0.0180  0.0244  0.0316  0.0164
2  0.1264  ...  0.0121  0.0036  0.0150  0.0085  0.0073  0.0050  0.0044
3  0.4459  ...  0.0031  0.0054  0.0105  0.0110  0.0015  0.0072  0.0048
4  0.3039  ...  0.0045  0.0014  0.0038  0.0013  0.0089  0.0057  0.0027

   0.0090  0.0032  R
0  0.0052  0.0044  R
1  0.0095  0.0078  R
2  0.0040  0.0117  R
3  0.0107  0.0094  R
4  0.0051  0.0062  R

[5 rows x 61 columns]
     0.0200  0.0371  0.0428  0.0207  0.0954  0.0986  0.1539  0.1601  0.3109  \
202  0.0187  0.0346  0.0168  0.0177  0.0393  0.1630  0.2028  0.1694  0.2328
203  0.0323  0.0101  0.0298  0.0564  0.0760  0.0958  0.0990  0.1018  0.1030
204  0.0522  0.0437  0.0180  0.0292  0.0351  0.1171  0.1257  0.1178  0.1258
205  0.0303  0.0353  0.0490  0.0608  0.0167  0.1354  0.1465  0.1123  0.1945
206  0.0260  0.0363  0.0136  0.0272  0.0214  0.0338  0.0655  0.1400  0.1843

     0.2111  ...  0.0027  0.0065  0.0159  0.0072  0.0167  0.0180  0.0084  \
202  0.2684  ...  0.0116  0.0098  0.0199  0.0033  0.0101  0.0065  0.0115
203  0.2154  ...  0.0061  0.0093  0.0135  0.0063  0.0063  0.0034  0.0032
204  0.2529  ...  0.0160  0.0029  0.0051  0.0062  0.0089  0.0140  0.0138
205  0.2354  ...  0.0086  0.0046  0.0126  0.0036  0.0035  0.0034  0.0079
206  0.2354  ...  0.0146  0.0129  0.0047  0.0039  0.0061  0.0040  0.0036

     0.0090  0.0032  R
202  0.0193  0.0157  M
203  0.0062  0.0067  M
204  0.0077  0.0031  M
205  0.0036  0.0048  M
206  0.0061  0.0115  M

[5 rows x 61 columns]
           0.0200      0.0371      0.0428      0.0207      0.0954      0.0986  \
count  207.000000  207.000000  207.000000  207.000000  207.000000  207.000000
mean     0.029208    0.038443    0.043837    0.054053    0.075105    0.104599
std      0.023038    0.033040    0.038521    0.046583    0.055669    0.059247
min      0.001500    0.000600    0.001500    0.005800    0.006700    0.010200
25%      0.013300    0.016400    0.018900    0.024450    0.037700    0.066950
50%      0.022800    0.030800    0.034200    0.044100    0.062000    0.092100
75%      0.035800    0.048100    0.058200    0.065700    0.101050    0.134150
max      0.137100    0.233900    0.305900    0.426400    0.401000    0.382300

           0.1539      0.1601      0.3109      0.2111  ...      0.0232  \
count  207.000000  207.000000  207.000000  207.000000  ...  207.000000
mean     0.121591    0.134677    0.177361    0.208245  ...    0.016034
std      0.061897    0.085340    0.118311    0.134741  ...    0.012027
min      0.003300    0.005500    0.007500    0.011300  ...    0.000000
25%      0.080600    0.080350    0.096750    0.111150  ...    0.008350
50%      0.105600    0.111900    0.152200    0.181000  ...    0.013800
75%      0.153050    0.169800    0.231500    0.269000  ...    0.020700
max      0.372900    0.459000    0.682800    0.710600  ...    0.100400

           0.0027      0.0065      0.0159      0.0072      0.0167      0.0180  \
count  207.000000  207.000000  207.000000  207.000000  207.000000  207.000000
mean     0.013472    0.010729    0.010917    0.009300    0.008181    0.007771
std      0.009628    0.007071    0.007310    0.007103    0.005719    0.005756
min      0.000800    0.000500    0.001000    0.000600    0.000400    0.000300
25%      0.007350    0.005050    0.005350    0.004100    0.004400    0.003700
50%      0.011500    0.009600    0.009300    0.007500    0.006800    0.005900
75%      0.016750    0.014900    0.014450    0.012100    0.010350    0.010350
max      0.070900    0.039000    0.035200    0.044700    0.039400    0.035500

           0.0084      0.0090      0.0032
count  207.000000  207.000000  207.000000
mean     0.007947    0.007936    0.006523
std      0.006485    0.006196    0.005038
min      0.000300    0.000100    0.000600
25%      0.003600    0.003650    0.003100
50%      0.005800    0.006300    0.005300
75%      0.010400    0.010350    0.008550
max      0.044000    0.036400    0.043900

[8 rows x 60 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0.0200  207 non-null    float64
 1   0.0371  207 non-null    float64
 2   0.0428  207 non-null    float64
 3   0.0207  207 non-null    float64
 4   0.0954  207 non-null    float64
 5   0.0986  207 non-null    float64
 6   0.1539  207 non-null    float64
 7   0.1601  207 non-null    float64
 8   0.3109  207 non-null    float64
 9   0.2111  207 non-null    float64
 10  0.1609  207 non-null    float64
 11  0.1582  207 non-null    float64
 12  0.2238  207 non-null    float64
 13  0.0645  207 non-null    float64
 14  0.0660  207 non-null    float64
 15  0.2273  207 non-null    float64
 16  0.3100  207 non-null    float64
 17  0.2999  207 non-null    float64
 18  0.5078  207 non-null    float64
 19  0.4797  207 non-null    float64
 20  0.5783  207 non-null    float64
 21  0.5071  207 non-null    float64
 22  0.4328  207 non-null    float64
 23  0.5550  207 non-null    float64
 24  0.6711  207 non-null    float64
 25  0.6415  207 non-null    float64
 26  0.7104  207 non-null    float64
 27  0.8080  207 non-null    float64
 28  0.6791  207 non-null    float64
 29  0.3857  207 non-null    float64
 30  0.1307  207 non-null    float64
 31  0.2604  207 non-null    float64
 32  0.5121  207 non-null    float64
 33  0.7547  207 non-null    float64
 34  0.8537  207 non-null    float64
 35  0.8507  207 non-null    float64
 36  0.6692  207 non-null    float64
 37  0.6097  207 non-null    float64
 38  0.4943  207 non-null    float64
 39  0.2744  207 non-null    float64
 40  0.0510  207 non-null    float64
 41  0.2834  207 non-null    float64
 42  0.2825  207 non-null    float64
 43  0.4256  207 non-null    float64
 44  0.2641  207 non-null    float64
 45  0.1386  207 non-null    float64
 46  0.1051  207 non-null    float64
 47  0.1343  207 non-null    float64
 48  0.0383  207 non-null    float64
 49  0.0324  207 non-null    float64
 50  0.0232  207 non-null    float64
 51  0.0027  207 non-null    float64
 52  0.0065  207 non-null    float64
 53  0.0159  207 non-null    float64
 54  0.0072  207 non-null    float64
 55  0.0167  207 non-null    float64
 56  0.0180  207 non-null    float64
 57  0.0084  207 non-null    float64
 58  0.0090  207 non-null    float64
 59  0.0032  207 non-null    float64
 60  R       207 non-null    object
dtypes: float64(60), object(1)
memory usage: 98.8+ KB
None

In [ ]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
#DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [17]:
import pandas as pd 
df = {
    "A" : [1,2,3,4],
    "B" : ["Anu ", " DHRUVI","GNAN","PARV"],
    "C" : ["GOOD","BETTER ","WORST","BAD"]
}
df[df[1::2].index()]

TypeError: unhashable type: 'slice'

In [18]:
import pandas as pd

df_data = {
    "A": [1, 2, 3, 4],
    "B": ["Anu", "DHRUVI", "GNAN", "PARV"],
    "C": ["GOOD", "BETTER", "WORST", "BAD"]
}

# Create a DataFrame
df = pd.DataFrame(df_data)

# Use [1::2] to select rows and then reindex with a new index starting from 1
df = df.iloc[1::2].reset_index(drop=True)

# Display the updated DataFrame
print(df)

   A       B       C
0  2  DHRUVI  BETTER
1  4    PARV     BAD

In [19]:
"" " You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console."""

SyntaxError: EOL while scanning string literal (3114548486.py, line 1)

In [1]:
  import pandas as pd 
  data = { 
     "Values" : [1,2,3,4,5,6,7] 
  }
sum = 0
df = pd.DataFrame(data)
for x in df :
    if x <=x[2]
    sum = sum + x
print(sum)

In [2]:
import pandas as pd 

data = { 
    "Values": [1, 2, 3, 4, 5, 6, 7] 
}

sum_result = 0
df = pd.DataFrame(data)

for x in df['Values']:
    if x <= df['Values'][2]:
        sum_result = sum_result + x

print(sum_result)

6

In [3]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
#'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd 
data = {
    "Text" : ["anu ","dhruvi"]
}
df = pd.DataFrame(data)

df['Word_Count'] = df['Text'].apply(lambda x : len(x.split()))
print(df)

     Text  Word_Count
0     anu           1
1  dhruvi           1

In [13]:
import pandas as pd 

data = {
    "Text": ["anu", "dhruvi"]
}
df = pd.DataFrame(data)
ds = df.size()
print(ds)
df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
print(df)

TypeError: 'numpy.int32' object is not callable

In [15]:
import pandas as pd 

data = {
    "Text": ["anu", "dhruvi"]
}
df = pd.DataFrame(data)
ds = df.size
dq = df.shape
print(ds)
print(dq)

2
(2, 1)

In [16]:
import pandas as pd
#df = pd.read_excel(".xls")

In [17]:
#You have a Pandas DataFrame df that contains a column named 'Email' that contains email
#addresses in the format 'username@domain.com'. Write a Python function that creates a new column
#'Username' in df that contains only the username part of each email address.

In [28]:
import pandas as pd
data = {
    'EMAIL' : ['ANU@gmail.com','Dhruvi@gmail.com','mimi@gmail.com']
 }
df = pd.DataFrame(data)
df['Username'] = df['EMAIL'].apply(lambda x : x.split('@')[0] )
print(df)

              EMAIL Username
0     ANU@gmail.com      ANU
1  Dhruvi@gmail.com   Dhruvi
2    mimi@gmail.com     mimi

In [29]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
#all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
#function should return a new DataFrame that contains only the selected rows.

In [40]:
import pandas as pd

data = {
    'A': [5, 6, 7, 4, 5, 3],
    'B': [9, 11, 23, 45, 1, 8],
    'C': [1, 2, 3, 4, 5, 6]
}

df = pd.DataFrame(data)

# Use parentheses to set the proper order of evaluation
dq = df[(df['A'] > 5) & (df['B'] > 10)]

print(dq)

   A   B  C
1  6  11  2
2  7  23  3

In [41]:
#Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
#median, and standard deviation of the values in the 'Values' column.

In [43]:
import pandas as pd

data = {
    'Values': [12, 23, 45, 66, 72, 122, 56, 87]
}

df = pd.DataFrame(data)

# Calculate mean, median, and standard deviation
a = df['Values'].mean()
b = df['Values'].median()
c = df['Values'].std()

print(a)
print(b)
print(c)

60.375
61.0
35.18497041148596

In [1]:
#You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
#column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
#Monday, Tuesday) corresponding to each date in the 'Date' column.

In [4]:
import pandas as pd

data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04']
}

df = pd.DataFrame(data)

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Extract the week number
df['Week'] = df['Date'].dt.week

print(df)

        Date  Week
0 2023-01-01    52
1 2023-01-02     1
2 2023-01-03     1
3 2023-01-04     1

C:\Users\91932\AppData\Local\Temp\ipykernel_24992\1484542016.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['Week'] = df['Date'].dt.week

In [6]:
import pandas as pd

data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04']
}

df = pd.DataFrame(data)

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Extract day names
df['Day'] = df['Date'].dt.day_name()

print(df)

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04

In [8]:
import pandas as pd

data = {
    'Date': ['2023-01-01 12:30:45', '2023-02-15 08:15:30', '2023-03-20 18:45:00', '2023-04-10 04:00:00']
}

df = pd.DataFrame(data)

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Extract various datetime attributes
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['Minute'] = df['Date'].dt.minute
df['Second'] = df['Date'].dt.second
df['Weekday'] = df['Date'].dt.weekday
df['DayName'] = df['Date'].dt.day_name()

print(df)

                 Date  Year  Month  Day  Hour  Minute  Second  Weekday  \
0 2023-01-01 12:30:45  2023      1    1    12      30      45        6
1 2023-02-15 08:15:30  2023      2   15     8      15      30        2
2 2023-03-20 18:45:00  2023      3   20    18      45       0        0
3 2023-04-10 04:00:00  2023      4   10     4       0       0        0

     DayName
0     Sunday
1  Wednesday
2     Monday
3     Monday

In [9]:
#Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
#function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [11]:
import pandas as pd

data = {
    'Date': ['2023-01-01 12:30:45', '2023-02-15 08:15:30', '2023-03-20 18:45:00', '2023-04-10 04:00:00']
}
df = pd.DataFrame(data)
dt = df[(df['Date']>=('2023-01-01')) & (df['Date']<=('2023-01-31')) ]
print(dt)

                  Date
0  2023-01-01 12:30:45